#info-results {
    margin-top: 1.5em;
    border-collapse: collapse;
}

#info-results td, table#info-results th {
    border: 1px solid black;
}

#info-results th {
    font-weight: bold;
}

#query-extra-storage {
    display: none;
}

.error {
    color: red;
}