{% extends "layouts/layout1.html" %}

<!-- {% block content %} -->
<section id="ack">
	<div class="container">
		<H1> Like this Bootsrap Theme? </H1>
		<p>This theme is called freelance and is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
		<p>For other cool themes, please visit Start Bootstrap. There are plenty to choose from for all sorts of purposes</p>

		<H1> Want to learn how to use flask? </H1>
		<p>Chris Hawke offers a great overview of designing a simple site from the ground up with his <a href="https://www.youtube.com/watch?v=gDSLrpxR3G4&list=PLei96ZX_m9sWQco3fwtSMqyGL-JDQo28l">YouTube Series</a>
		<p>Additionally Sendtex from PythonProgramming.net offers a great <a href="https://www.youtube.com/watch?list=PLQVvvaa0QuDc_owjTbIY4rbgXOFkUYOUB&v=Lv1fv-HmkQo">YouTube playlist on Flask development</a> as well as an accompanying <a href="https://www.youtube.com/watch?list=PLQVvvaa0QuDc_owjTbIY4rbgXOFkUYOUB&v=Lv1fv-HmkQo">web tutorial</a></p>
		<p>Both are very good starting points for learning how to use flask to build out a site.
	</div>
</section>

<!-- {% endblock %} -->