{% extends 'layouts/layout1.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title %}
Product Creation
{% endblock %}

{% block content %}
<div class="container">
	<section id="Body">	
		<h2> Product Creation Page </h2>
		<p> This page allows creating new products with the following required fields </p>
		<hr></hr>

		<form method="POST" action="/createProduct">
			{{ form.csrf_token }}
			<div>{{ render_field_with_errors(form.name)  }}</div>
			<div>{{ render_field_with_errors(form.color) }}</div>
			<div>{{ render_field_with_errors(form.sid)   }}</div>
			<div>{{ render_field_with_errors(form.price) }}</div>
			<div>{{ render_field_with_errors(form.qty) 	 }}</div>
			<div>{{ render_field_with_errors(form.sale)  }}</div>
			<div>{{ render_field(form.submit)			 }}</div>
		</form>
	</section>
</div>
{% endblock %}