{% extends 'layouts/layout1.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title %}
Create Employee
{% endblock %}

{% block content %}
	<div class='container'>
		<section id="Body">
			<h2> Employee Creation Page </h2>
			<p> Enter the requested information below to create a new employee in the database </p>
			<hr></hr>

			<form method='POST' action='/createEmployee'>
				 <!-- This hidden tag is anti CSRF and required -->
				{{ cform.csrf_token }}
				<div>{{ render_field_with_errors(cform.firstname)    }}</div>
				<div>{{ render_field_with_errors(cform.lastname)     }}</div>
				<div>{{ render_field_with_errors(cform.hourly)       }}</div>
				<div>{{ render_field_with_errors(cform.pay) 	     }}</div>
				<div>{{ render_field_with_errors(cform.roleid)		 }}</div>
				<div>{{ render_field_with_errors(cform.sid)		 	 }}</div>
				<div>{{ render_field(cform.submit) }}</div>
			</form>
		</section>
	</div>

{% endblock %}