={% extends "layouts/layout1.html" %}

{% block title %}
Silkroad Employee Management
{% endblock %}

{% block content %}

<div class="container">
	<section id="Body">
	<h1>Employees</h1>
	<p>This page contains information about employees.
	   Employees can be filtered by State, City, or Zip
	   and metrics will change to reflect that.
	</p>
	<hr></hr>
	<h2> Overview Summary: </h2>
	<p><strong>{{ avg_sal_str }}</strong> {{ avg_sal }}</p>
	<p><strong>{{ avg_hourly_str }}</strong> {{ avg_pay }}</p>
	<p><strong>{{ sal_dev }}</strong></p>
	<p><strong>{{ hrly_dev }}</strong></p>
	<hr></hr>

	{{ empTable }}
	</section>
</div>

{% endblock %}