{% extends "layouts/layout1.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}


{% block title %}
Silkroad Employee Management
{% endblock %}

{% block content %}

<div class="container">
	<section id="Body">

	<h2>Employees</h2>
	
	<p>This page contains information about employees.
	   Employees can be filtered by State, City, or Zip
	   and metrics will change to reflect that.
	</p>
	
	<hr></hr>
	
	<h2> Overview Summary: </h2>
	<h3>	
		<p><strong>{{ avg_sal_str }}</strong>    {{ avg_sal }}</p>
		<p><strong>{{ avg_hourly_str }}</strong>    {{ avg_hrly }}</p>
	</h3>

	<hr></hr>

	<h3> Filter the table </h3>
		<!-- Search menu and input field -->
		<form method="POST" action="/employees" class="form-inline">
			{{ form.csrf_token }}
			<div class="input-group">

				<div class="form-group">
					{{ form.filterType(class="btn btn-primary dropdown-toggle form-control")|safe }}
				</div>
				<div class="form-group">
					{{ render_field(form.filterVal, class="form-control") }}
				</div>
				<div class="form-group">
					{{ render_field(form.submit, class="btn btn-primary form-control") }}
				</div>

			</div>
		</form> 

	<hr></hr>

	<!-- Need to add logic to redirect to page and then on that page submit, get back here -->
	<!-- In prep, I am calling that page "Create Employee", which will also require assigning him to a store
		 since it is not allowed to have employees belonging nowhere. This means it will update both the
		 Employees table AND the Stores table. -->
	<button class='btn btn-primary' onclick='window.location = "/createEmployee"'>
      Create New Employee
  	</button>
  	<button class="btn btn-primary" onclick="window.location = '/deleteEmployee'">
  		Delete Employee
  	</button>

		<hr></hr>

		<h3>Coming soon: Employee deletion</h3>

		<hr></hr>

		<h1>Employees Table</h1>
		{{ empTable }}
	</section>
</div>

{% endblock %}
