{% extends "layouts/layout1.html" %}

{% block title %}
Silkroad Management Portal
{% endblock %}

{% block content %}
<!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/static/img/profile.png" alt="" width="300" height="300">
                    <div class="intro-text">
                        <h1 class="name">Silkroad Management Home</h1>
                        <hr class="star-light">
                        <span class="skills">A Database Design Project</span>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>This portal allows the viewing and management of various aspects of silkroad inc, our made up company. The web frontend is comprised of javascript, flask, bootstrap, and many other libraries and utilities almost all of which we have tweaked in some way.</p>
                </div>
                <div class="col-lg-4">
                    <p>Features include user authentiction and registration, dynamic capabilities based upon  the user role, viewing and editing of stores, employees, and users, and access to several quick statistics provided via plpgsql and pure sql stored procedures. The whole site is supported by a local postgreSQL database backend.</p>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
