<!DOCTYPE html>
<html>
    <head>
        <title>Get info</title>
        <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/info.css" />
    </head>

    <body>
        <h1>Info Page</h1>

        <form method="POST">
            <select id="relation-selector">
                <span>Entities:</span>
                <option value="stores">Stores</option>
                <option value="employees">Employees</option>
                <option value="products">Products</option>
                <span>Relationships:</span>
                <option value="Inventory">Inventory</option>
                <option value="Employment">Employment</option>
            </select>

            <input type="submit" />
        </form>

        <table id="info-results">
            <thead>
                <tr id="info-results-header-row">
                    {% for header in headers %}
                    <th class="info-results-header">
                        {{header}}
                    </th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
            {% for row in rows %}
            <tr class="info-results-row">
                {% for field in row %}
                <td class="info-results-field">
                    {{field}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
