<!Doctype html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
    </head>
    <body>
        <H1> Login </H1> 
        <!-- Login -->
        <form method="post" action="/login">
            <label>Username:</label> <input id='username' 
                                            type='text' 
                                            name='username' />

            <label>Password:</label> <input id='password' 
                                            type='password'
                                            name='password' />
            <input type='submit'/>
        </form>



        <H1> Register a new user </H1>

        <!-- Register -->
        <form method="post" action="/register">
            <label>Username:</label> <input id='new_user'
                                            type='text'
                                            name='new_user' />

            <label>Password:</label> <input id='new_pass'
                                            type='password'
                                            name='new_pass' />

            <input type='submit' />
        </form>

    </body>
</html>
