{% extends 'layouts/layout1.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title %}
Silkroad Products Management
{% endblock %}

{% block content %}
<div class="container">
	<section id="Body">
		<h2>Products Information</h2>
		<p> This page displays information about products based on
			location. It defaults to showing all unique products available
		</p>
		<hr></hr>
		<h2> Statistics </h2>
		<h3>
			<p><strong> Unique Products: </strong> {{ numProducts }}</p>
			<p><strong> Average Price: </strong> {{ avgPrice }}</p>
			<p><strong> Products on sale: </strong> {{ numSale }}</p>
		</h3>
		
		<hr></hr>
		
		<h3> Filter the table </h3>
		<!-- Search menu and input field -->
		<form method="POST" action="/products" class="form-inline">
			{{ form.csrf_token }}
			<div class="input-group">

				<div class="form-group">
					{{ form.filterType(class="btn btn-primary dropdown-toggle form-control")|safe }}
				</div>
				<div class="form-group">
					{{ render_field(form.filterVal, class="form-control") }}
				</div>
				<div class="form-group">
					{{ render_field(form.submit, class="btn btn-primary form-control") }}
				</div>

			</div>
		</form> 
		
		<hr></hr>

		<button class="btn btn-primary" onclick="window.location = '/createProduct'">
			Create New Product
		</button>

		<button class="btn btn-primary" onclick="window.location = '/addExistingProduct'">
			Add Existing To Store
		</button>

		<button class="btn btn-primary" onclick="window.location = '/deleteProduct'">
			Delete Existing Product
		</button>


		<hr></hr>

		<!-- Prints the table -->
		<h1>Products Table</h1>
		<h3>Filter Type: {{ filType }}, Filter Value: {{ filVal }}</h3>
		
		{{ productsTable }}
	</section>
</div>
{% endblock %}
