{% extends "layouts/layout1.html" %}

{% block title %}
Silkroad Store Management
{% endblock %}

{% block content %}
<div class="container">
  <script type="text/javascript">
      $(document).ready(function(){
          $('#query-type-selector input').on('click', function(event){
              $('#query-type-selection')[0].textContent = event.target.value;
              $('#hidden-query-type')[0].value = event.target.dataset.queryType;
              $('#query-type-selector').click();
          });
      });
  </script>

	<section id="Body">
	<h2>Stores Information</h2>
	<p> This page displays information about stores based on the selected
		search criteria. Default displays everything however they can be
		broken down by city, state, zip, and to a specific store
	<hr></hr>

	<!-- Search menu and input field -->
	<form method="/stores">
      <div class="row">
		      <div class="col-lg-6">
			        <div class="input-group">
				          <div class="input-group-btn">
                      <input type="hidden" name="query_type" id="hidden-query-type" />
					            <button class="btn btn-primary dropdown-toggle" id="query-type-selection"
                              data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false"> Select search type
						              <span class="caret"></span>
					            </button>
					            <ul class="dropdown-menu" id="query-type-selector">
						              <li>
                              <input type="button" style="width:100%"
                                     class="btn btn-primary" id='search_byStore'
                                     value="Search By Store" data-query-type="store" />
                          </li>
						              <li>
                              <input type="button" style="width:100%"
                                     class="btn btn-primary" id='search_byState'
                                     value="Search By State" data-query-type="state" />
                          </li>
						              <li>
                              <input type="button" style="width:100%"
                                     class="btn btn-primary" id='search_byCity'
                                     value="Search By City" data-query-type="city" />
                          </li>
						              <li>
                              <input type="button" style="width:100%"
                                     class="btn btn-primary" id='search_byZip'
                                     value="Search By Zip" data-query-type="zip" />
                          </li>
					            </ul>
				          </div>
			            <input type="text" class="form-control" id="sortKey" name="sort_key" />
		          </div>
	        </div>
	        <input type="submit" id="GO" class="btn btn-primary" />
      </div>
  </form>

	        <hr></hr>

	        <!-- Prints the table -->
	        <h1>Stores Table</h1>
	        {{ storesTable }}
	</section>
</div>
{% endblock %}
