{% extends "layouts/layout1.html" %}

{% block title %}
Silkroad Store Management
{% endblock %}

{% block content %}
<div class="container">
	<section id="Body">
		<h2>Stores Information</h2>
		<p> This page displays information about stores based on the selected
			search criteria. Default displays everything however they can be
			broken down by city, state, zip, and to a specific store
		</p>
		
		<hr></hr>
		
		<h2> Analytics </h2>
		<h3>
			<p><strong>Number of Employees: </strong> {{ numEmps }}</p>

			<!-- These two change based on search criteria -->
			<p><strong>Average Salary: </strong> {{ avg_sal }}</p>
			<p><strong>Average Hourly Pay: </strong> {{ avg_hrly }}</p>
		</h3>
		
		<hr></hr>

		<!-- Search menu and input field -->
		<div class="row">
			<div class="col-lg-6">
				<div class="input-group">
					<div class="input-group-btn">
						<button class="btn btn-primary dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> Select search type
							<span class="caret"></span>
						</button>	
						<ul class="dropdown-menu">
							<li>
								<button class="btn btn-primary" id='search_byStore' style="width:100%">Search By Store
								</button>
							</li>
							<li>
								<button class="btn btn-primary" id='search_byState' style="width:100%">Search By State
								</button>
							</li>
							<li>
								<button class="btn btn-primary" id='search_byCity' style="width:100%">Search By City
								</button>
							</li>
							<li>
								<button class="btn btn-primary" id='search_byZip' style="width:100%">Search By Zip
								</button>
							</li>
						</ul>
					</div>
				<input type="text" class="form-control" id="sortKey">
			</div>
		</div>
		<button id="GO" class="btn btn-primary">Search</button>
		
		<hr></hr>

		<button class='btn btn-primary' onclick='window.location = "/createStore"'>
      		Create Store
  		</button>
	  	<button class="btn btn-primary" onclick="window.location = '/deleteStore'">
	  		Delete Store
	  	</button>

	  	<hr></hr>

		<!-- Prints the table -->
		<h1>Stores Table</h1>
		{{ storesTable }}
	</section>
</div>
{% endblock %}