{% extends 'layouts/layout1.html' %}

{% block content %}
<div class="container">
<section id="Body">
  <script type="text/javascript" src="static/vendor/jquery/jquery.js">
  </script>

  <script type="text/javascript">
  $(document).ready(function() {
	  
	  $("#SelectorMenu li").on('click',function(){
	    	$('#SearchCriteria').text($(this).text());
	    	$('#SearchCriteria').val($(this).val());
	    	$('#Test').text($(this).val());
	   });
	  
	});
	</script>

  <h1 id="Test">Test</h1>
 <!-- Search menu and input field -->
		<div class="row">
			<div class="col-lg-6">
				<div class="input-group">
					<div class="input-group-btn">
						<button class="btn btn-primary dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false" id="SearchCriteria"> Select search type
							<span class="caret"></span>
						</button>	
						<ul class="dropdown-menu" id="SelectorMenu">
							<li><button class="btn btn-primary" value="Store" style="width:100%">Search By Store</button></li>
							<li><button class="btn btn-primary" value="State" style="width:100%">Search By State</button></li>
							<li><button class="btn btn-primary" value="City"  style="width:100%">Search By City</button></li>
							<li><button class="btn btn-primary" value="Zip"	  style="width:100%">Search By Zip</button></li>
							<li><button class="btn btn-primary" value="Color" style="width:100%">Search By Color</button></li>
						</ul>
					</div>
				<input type="text" class="form-control" id="sortKey">
			</div>
		</div>
		<button id="GO" class="btn btn-primary">Search</button>

	</section>
</div>
{% endblock %}